@use 'bases/variables' as v; 
@use 'bases/mixins' as m;

/*testimoniales
---------------------------------------------------------- */
.testimoniales{
    text-align: center;
    h2{
        margin-bottom: 8rem;
        &::before{
            @include m.headingBorder(v.$primario);
        }
    }
}
.contenido-testimoniales{
    @include m.tablet{  
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        align-items: center;
        gap: 4rem;
    }
    @include m.desktop{  
        gap: 8rem;
    }
    .imagen{
        margin-bottom: 5rem;
        @include m.tablet{ 
            margin-bottom: 0;
        }
        img{
            margin: 0 auto;
        }
    }
    .contenedor-testimoniales{
        display: flex;
        flex-direction: column;
    }
}
.testimonial{
    text-align: left;
    background-color: v.$primario;
    border: 5px solid v.$secundario;
    border-radius: 10px;
    margin-bottom: 4rem;
    padding: 0 2rem 0 8rem;
    position: relative;
    &:last-of-type{
        margin-bottom: 0;
    }
    @include m.tablet{   
        &:nth-child(1){
            margin-right: 20%;
        }
        &:nth-child(2){
            margin-left: 10%;
            margin-right: 10%;
        }
        &:nth-child(3){
            margin-left: 20%;
        }
    }
    .texto{
        &::before{
            content: '';
            position: absolute;
            @include m.img('../img/comilla.svg');
            width: 5rem;
            height: 5rem;
            background-size: 5rem;
            left: 20px;
            top: 27px;
            @include m.tablet{ 
                top: 20px;
            }
            @include m.desktop{ 
                top: 27px;
            }
        }
        @include m.tablet{ 
            font-size: 1.5rem;
        }
        @include m.desktop{ 
            font-size: 2rem;
        }
    }
}
