@use 'bases/variables' as v; 
@use 'bases/mixins' as m;

.header{
    background-color: #333;
    background-image: url(../img/header.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70rem;
    position: relative;
    &::after{
        content: '';
        position: absolute;
        background-color: v.$secundarioOpacity;
        width: 100%;
        height: 100%;
        top: 0;
    }
    .header-grid{
        position: relative;
        z-index: 1;
        padding: 5rem 0 10rem 0;
        @include m.tablet{ 
            @include m.grid(2, 10rem);
            grid-template-rows: auto auto;
            column-gap: 0;
        }
        @include m.desktop{ 
            column-gap: 15rem;
            row-gap: 15rem;
        }
    }
    .logo{
        width: 20rem;
        margin: 0 auto 10rem auto;
        @include m.tablet{ 
            margin: 0;
        }
    }
    .contenido-header{
        @include m.tablet{ 
            grid-row: 2/3;
        }
        h1{
            font-size: 4.5rem;
            color: v.$blanco;
            @include m.tablet{ 
                font-size: 6rem;
            }
        }
        .btn-header{
            @include m.boton(v.$primario, v.$secundario);
        }
    }

}
